/*@media only screen and (max-width: 480px) and (min-width: 299px) {
    .app-header-action .app-icon {
        font-size: 1em;
    }
    .app-header-action {
        padding: 0 !important;
    }
}*/

.app-card.gray {
    background-color: rgba(0, 0, 0, 0.05);
}