@media only screen and (max-width: 480px) and (min-width: 299px) {
    .app-header-actions .app-header-action .app-icon {
        font-size: 1em;
    }
    .app-header-action {
        padding: 0 !important;
    }
    .app-logo {
        height: 30px !important;
    }
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
    .app-header-actions .app-header-action .app-icon {
        font-size: 1em;
    }
    .app-header-action {
        padding: 0 !important;
    }
}
.gray {
    background-color: rgba(0, 0, 0, 0.05);
}
/***text size specific function***/

.text-style-S {
    font-size: 1em;
}
.text-style-M {
    font-size: 1.5em;
}
.text-style-L {
    font-size: 2em;
}
/******header special classes*****/

.app-header-actions {
    display: inline-block;
}
a.app-header-action .badge {
    top: 1em;
    right: 0;
    font-size: 10px;
    background-color: red;
    border-radius: 1em;
}
.icon-fixed {
    float: right;
    position: absolute;
    right: 2px;
    z-index: 2;
}
.panel .app-datagrid {
    margin-bottom: 1em;
}
.panel.no-padding-form {
    padding: 0;
    border: 0;
    box-shadow: none;
}
.panel.no-padding-form .panel-body {
    padding: 0;
}
.old-block {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 1em;
}
.new-block {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 1em;
}
